GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
DATABASE_URL=postgresql://banortehack:local-development-only@localhost:5432/banortehack
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=banortehack
